{% include header.html %}
	<div class ="row-fluid">
		<div class="span8">
			<div class="big-text">
			{{ content }}
			</div>
		</div>
		<div class = "social-networks">
			<li class="twitter this-social-network"><a href="https://twitter.com/MaximeHeckel"><img src="/img/icons/twitter.png"></a></li>
			<li class="google this-social-network"><a href="https://plus.google.com/101097975137643150355/posts"><img src="/img/icons/google.png"></a></li>
			<li class="github this-social-network"><a href="https://github.com/MaximeHeckel"><img src="/img/icons/github.png"></a></li>
			<li class="email this-social-network"><a href="mailto:heckelmaxime@gmail.com"><img src="/img/icons/email.png"></a></li>
			<br/>

		</div>
	</div>
{% include footer.html %}